# hidden files
!.git*
!.editorconfig
!.nojekyll
!.husky
!.commitlintrc.json
!.versionrc.json
!.stylelintrc.json
!.gems/

# Bundler cache
.bundle
vendor
!Gemfile.lock  # Gemfile.lock 文件记录了确切的依赖版本，确保在不同环境中安装相同的依赖版本。

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site
_app

# RubyGems
*.gem

# NPM dependencies
node_modules
# 保留
!package-lock.json

# IDE configurations
.idea


# 保留
!.vscode/*   
# .vscode/* 的子文件
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/*.md
